$fontFamily1: 'Gotham Medium Regular', sans-serif;
$fontFamily2: 'Gotham Bold',sans-serif;
$fontFamily3: 'Gotham Book',sans-serif;
$color-text1: white;
$color-text2: black;
$color-text3: #2c4058;
$color-background: #7d5cfa;
$transition:all 1s ease-out;
$maxWidth: 100%;
$texdDecoration: uppercase;
$margin: 0 auto;