$font-text1: 'Aleo-Regular';
$font-text2: 'JosefinSans-Regular';
$font-text-bold: 'JosefinSans-Bold';
$text-color: rgb(255, 255, 255);
$text-style: 1px 1px 4px black;
$text-opasity: 0.7;
$text-registr1: uppercase;
$text-registr2: capitalize;
$button-shudow:0 0 10px 2px rgb(29, 29, 29);
$word_betwen: 5px;
